Opdracht 1 Database

#Creating tables in database using mysql CLI

MariaDB [climate_watch]> CREATE TABLE Global_Temperatures(
    ->     dt DATE,
    ->     LandAverageTemperature FLOAT,
    ->     LandAverageTemperatureUncertainty FLOAT,
    ->     LandMaxTemperature FLOAT,
    ->     LandMaxTemperatureUncertainty FLOAT,
    ->     LandMinTemperature FLOAT,
    ->     LandMinTemperatureUncertainty FLOAT,
    ->     LandAndOceanAverageTemperature FLOAT,
    ->     LandAndOceanAverageTemperatureUncertainty FLOAT);

MariaDB [climate_watch]> CREATE TABLE GlobalLandTemperaturesByState(
    -> dt DATE,
    -> AverageTemperature FLOAT,
    -> AverageTemperatureUncertainty FLOAT,
    -> State VARCHAR(255),
    -> Country VARCHAR(255));

MariaDB [climate_watch]> CREATE TABLE GlobalLandTemperaturesByMajorCity (
    -> dt DATE,
    -> AverageTemperature FLOAT,
    -> AverageTemperatureUncertainty FLOAT,
    -> City VARCHAR(255),
    -> Country VARCHAR(255),
    -> Latitude VARCHAR(5),
    -> Longitude VARCHAR(5));

MariaDB [climate_watch]> CREATE TABLE GlobalLandTemperaturesByCountry(
    -> dt DATE,
    -> AverageTemperature FLOAT,
    -> AverageTemperatureUncertainty FLOAT,
    -> Country VARCHAR(255));

MariaDB [climate_watch]> CREATE TABLE GlobalLandTemperaturesByCity(
    -> dt DATE,
    -> AverageTemperature FLOAT,
    -> AverageTemperatureUncertainty FLOAT,
    -> City VARCHAR(255),
    -> Country VARCHAR(255),
    -> Latitude VARCHAR(10),
    -> Longitude VARCHAR(10));

#Loading data in tables using mysql CLI

LOAD DATA LOCAL INFILE 'C:/users/alexy/downloads/climatedata/climatedata/GlobalTemperatures.csv'
INTO TABLE global_temperatures
FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE 'C:/users/alexy/downloads/climatedata/climatedata/GlobalLandTemperaturesByState.csv'
INTO TABLE globallandtemperaturesbystate
FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE 'C:/users/alexy/downloads/climatedata/climatedata/GlobalLandTemperaturesByMajorCity.csv'
INTO TABLE globallandtemperaturesbymajorcity
FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE 'C:/users/alexy/downloads/climatedata/climatedata/GlobalLandTemperaturesByCountry.csv'
INTO TABLE globallandtemperaturesbycountry
FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE 'C:/users/alexy/downloads/climatedata/climatedata/GlobalLandTemperaturesByCity.csv'
INTO TABLE globallandtemperaturesbycity
FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

In [ ]:
import os
import SQLAlchemy as sa
import pandas as pd
import matplotlib as plt
import numpy as np
import seaborn as sb
import plotly as pl
import geopandas as gp
import mysql.connector

In [5]:
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="climate_watch"
)

def get_data(table_name):
    query = f"SELECT * FROM {table_name}"
    df = pd.read_sql(query, conn)
    return df

city_data = get_data("by_city")
country_data = get_data("by_country")
major_city_data = get_data("by_major_city")
state_data = get_data("by_state")
global_data = get_data("global_temperatures")

combined_data = pd.concat([city_data, country_data, major_city_data, state_data, global_data], ignore_index=True)
print(combined_data.describe())

NameError: name 'mysql' is not defined